<div class = "container">
<h1>タスク詳細</h1>
  <p class = "show_task_name">タスク名: <%= @task.task_name %></p>
  <p class = "show_task_details">タスク詳細: <%= @task.task_details %></p>
  <%= link_to "戻る", tasks_path %>
</div>  
